body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    font-family: "Arial", sans-serif;
}

.background-image {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.9);
    background-image: url("../public/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    opacity: 0.7;
    z-index: -1;
}

.p-menuitem-link > * {
    color: white;
}

.p-menubar-mobile-active > .p-menubar-root-list {
    background-color: #7f8c8d;
    width: max-content;
    left: auto;
    right: 0;
}

.p-submenu-list {
    background-color: #7f8c8d;
}

.p-menuitem-content {
    background: transparent;
}

.p-menuitem-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.p-panel-header {
    background: linear-gradient(to left, #7f8c8d, #000000);
    color: white;
    border: none;
    padding: 8px 16px;
}

.p-panel-header-icon {
    visibility: hidden;
}

.p-panel-toggler {
    visibility: visible;
    background-color: transparent;
    color: white;
}

.p-panel-content {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 10px 0px;
}

.p-inputswitch {
    transform: scale(0.5);
    transform-origin: top;
}

.p-tabview-nav {
    background-color: transparent;
}

.p-tabview-nav a {
    padding: 16px 20px;
    column-gap: 4px;
}

.p-tabview-selected {
    color: orange !important;
}

.p-inputtext {
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
}

.p-tabview-panels {
    padding: 20px 0px !important;
    background-color: transparent;
}

.p-tabview-panels .p-tabview-panel {
    padding: 0px !important;
    background-color: transparent;
    height: 0px !important;
}

.MuiDialog-container {
    width: 80% !important;
}

.p-tabview-nav {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.p-tabview-nav-link {
    background-color: transparent;
    border-bottom: white;
    font-size: 16px;
    color: #e8e9eb;
    font-weight: 200;
}

.p-tabview-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.p-tabview-selected > a {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.p-inputswitch.p-highlight span {
    background-color: black;
}

.p-speeddial {
    position: unset;
}

.MuiChip-root {
    height: auto !important;
}

.MuiChip-label {
    padding: 0 !important;
}

.MuiChip-deleteIcon {
    position: absolute;
    right: 0;
}

.p-button-group .p-button {
    padding: 6px;
    background-color: gray;
    color: white;
    opacity: 0.5;
}

.p-button-group > .p-button:focus {
    border: none;
    opacity: 1;
    box-shadow: none;
}

.p-selectbutton > .p-highlight {
    opacity: 1 !important;
    background-color: bisque !important;
    color: darkorange !important;
    border: 1px solid orange;
}

.p-selectbutton > .p-focus {
    opacity: 1;
    border: 1px solid orange !important;
}

.p-checkbox-box {
    border: none !important;
    background: bisque !important;
    color: orange !important;
}

.skill-card > * {
    font-size: 10px !important;
    color: white !important;
    background: rgba(0, 0, 0, 0.8) !important;
}

.character-animation {
    animation: character-animation 2.5s infinite; /* Adjust duration and timing function as needed */
}

.light-input {
    background-color: bisque;
}

@keyframes character-animation {
    0% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05) translateY(0%);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1) translateY(2%);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05) translateY(0%);
    }
}
